.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: black	;
  stroke-width: 0px;
}

.cursor {
  fill: none;
  stroke: brown;
  pointer-events: none;
}

.node text {
	font-family: sans-serif;
	font-size: 10px;
}

.hline-q {
	border-bottom: 55px solid #31AFB4; 
	position: relative;
	margin-top: -80px;
	height: 7%;
	width: 100%;

}

.dime_actions {
  margin-top:5%;
}

.dime_tools #pdf_tools {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  padding-bottom: 1%;
}

.dime_tools #map_tools {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  padding-bottom: 1%;
}

.glyphicon-collapse-down:before {
  content: "\e159";
}

.glyphicon-plus:before {
  content: "\002b";
}

.glyphicon-eye-close:before {
  content: "\e106";
}

.glyphicon-minus:before {
  content: "\2212";
}

.dime_wrapper .me_pdf {
  position: relative;
  padding: 10px;
  margin-top: 5%;
  float: left;
  -webkit-flex: 1; /* Safari */
  -ms-flex: 1; /* IE 10 */
  flex: 1; /* Standard syntax */
  height: 100vh;
  width: 50%;
}

.dime_wrapper #quqn_window {
  position: relative;
  padding: 10px;
  margin-top: 5%;
  float: left;
  -webkit-flex: 1; /* Safari */
  -ms-flex: 1; /* IE 10 */
  flex: 1; /* Standard syntax */
  height: 100vh;
  width: 50%;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow:hidden; 
}
.svg-content-responsive {
  display: inline-block;
  position: relative;
  top: 10px;
  left: 0;
}
